@model ProductDetails

@{
    ViewData["Title"] = "DeleteProperty";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete selected property?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="DeletePropertyConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="ManageProperties" asp-route-id="@Model.ProductId">Back to List</a>
    </form>
</div>

