@model EShop.Models.ProductDiscount

@{
    ViewData["Title"] = "Discount";
}

@section sidenav{}

<h2>Discount</h2>
<form asp-action="Discount" method="post" asp-route-page="@ViewData["page"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="ProductId" hidden value="@ViewBag.Product.Id" />
    <div class="form-group">
        Discount price:
        <input asp-for="DiscountPrice" type="number" step="0.01" />
        <span asp-validation-for="DiscountPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        End date:
        <input asp-for="Ends" type="datetime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" min="@DateTime.UtcNow" />
        <span asp-validation-for="Ends" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>
<div>
    @if (Convert.ToString(ViewData["page"]) == "Index")
    {
        <a asp-controller="Home" asp-action="Index">Go back</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="ProductPage" asp-route-id="@ViewBag.Product.Id">Go back</a>
    }
</div>

