@using EShop.Data;
@inject ApplicationDbContext context

<div id="edit-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p align="center">
                    <img src="~/images/folder.png" width="30" height="26" />
                    Edit "@ViewBag.CurrentCategoryName" category
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#edit-modal').hide();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
            </div>
            <form id="edit-category-form">
                <div class="modal-body">
                    <div id="edit-category-error-modal" hidden class="alert alert-danger">
                        <strong>Ooops!</strong><text id="edit-category-error-message"></text>
                    </div>
                    @{
                        Category category;
                        string categoryName;
                        string categoryDesc;
                        string rowVersion;

                        if (ViewBag.CurrentCategoryId == null)
                        {
                            category = null;
                            categoryName = "";
                            categoryDesc = "";
                            rowVersion = "";
                        }
                        else
                        {
                            category = await context.Category.FindAsync(ViewBag.CurrentCategoryId);
                            categoryName = category.Name;
                            categoryDesc = category.Description;
                            rowVersion = Convert.ToBase64String(category.RowVersion);
                        }
                    }
                    <table align="center">
                        <tr>
                            <td>Name &nbsp;</td>
                            <td>
                                <input id="new-category-name" type="text" value="@categoryName" />
                            </td>
                        </tr>
                        <tr>
                            <td>Description &nbsp;</td>
                            <td>
                                <textarea id="new-category-description" rows="5" cols="40" style="resize: none;">@categoryDesc</textarea>
                            </td>
                        </tr>
                    </table>
                    <input id="old-category-row-version" type="hidden" value="@rowVersion" />
                </div>
                <div class="modal-footer">
                    <button id="edit-category-modal-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Rename</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $('#edit-category-modal-btn').click(function() {
        if ($.trim($('#new-category-name').val()) && $.trim($('#new-category-description').val())) {

            var CategoryNewNamePostModel = {
                CategoryId: "@ViewBag.CurrentCategoryId",
                NewName: $('#new-category-name').val(),
                NewDescription: $('#new-category-description').val(),
                RowVersion: $('#old-category-row-version').val(),
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("RenameCategory", "Category")',
                data: JSON.stringify(CategoryNewNamePostModel),
                dataType: 'json',
                contentType: "application/json",
                success: function (response) {
                    if (response == 0) {
                        $('#edit-modal').hide();
                        location.reload();// page refresh
                    }
                    else if (response == 1) {
                        $('#edit-category-error-modal').attr('hidden', false);
                        $('#edit-category-error-message').text(" Some value violated the integrity constraints!")
                    }
                    else if (response == 2) {
                        $('#edit-category-error-modal').attr('hidden', false);
                        $('#edit-category-error-message').text(" Someone already modified this category while you were editing it. Reload the page and try again.")
                    }
                },
                failure: function (response) {
                    $('#edit-category-error-modal').attr('hidden', false);
                    $('#edit-category-error-message').text(" Some unexpected error occured. Please try again!")
                }
            });
        }
        else {
            $('#edit-category-error-modal').attr('hidden', false);
            $('#edit-category-error-message').text(" Illegal input.")

        }
    });
</script>