@model IEnumerable<EShop.Models.ProductInCartViewModel>

@{
    ViewData["Title"] = "Shopping cart";
}

<h2>Shopping cart</h2>
@{ Decimal totalCost = 0;
    <table class="table" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                totalCost += item.TotalPrice;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <!--//ProductInCartViewModel does not hold an id field, went with using name instead. Fix this if applicable-->
                        <form asp-controller="ShoppingCart" asp-action="ChangeShoppingCartProductCount" 
                              asp-route-productName="@item.Name" asp-route-operation="reduce">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                    <td> 
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <form asp-controller="ShoppingCart" asp-action="ChangeShoppingCartProductCount" 
                              asp-route-productName="@item.Name" asp-route-operation="increase">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>                      
                        <form asp-controller="ShoppingCart" asp-action="RemoveShoppingCartProduct" asp-route-productName="@item.Name">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                            </button>
                        </form>         
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <p>Total cost: @totalCost</p>
}
<form asp-action="">
    <button type="submit" class="btn btn-success" disabled>
        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Checkout
    </button>
</form>
