</br>
@if (ViewBag.CurrentCategoryName == null)
{
    <h5><a asp-action="Index" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" onclick="$('#loading-modal').fadeIn()">All</a></h5>
}
else
{
    string[] pathSegments = ViewBag.AbsoluteNavigationPath.Split("/");
    pathSegments = pathSegments.Skip(1).ToArray(); // skippinam pirma tarpa
    pathSegments = pathSegments.Take(pathSegments.Count() - 1).ToArray(); // skippinam paskutini tarpa
    <h5>
        <a asp-action="Index" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" onclick="$('#loading-modal').fadeIn()">All</a>
        @foreach (var pathSegment in pathSegments)
        {
            <a asp-action="Index" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" asp-route-navigateToCategoryNamed="@pathSegment" onclick="$('#loading-modal').fadeIn()">/ @pathSegment</a>
        }
        <a asp-action="Index" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" asp-route-navigateToCategoryNamed="@ViewBag.CurrentCategoryName" onclick="$('#loading-modal').fadeIn()">
            /
            <font color="blue">
                @ViewBag.CurrentCategoryName
            </font>
        </a>
    </h5>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            @if (ViewBag.CurrentCategoryName == null)
            {
                <text>Category</text>

                <button class="btn btn-xs btn-primary" disabled>
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
                </button>

                if (this.User.IsInRole("Admin") || this.User.IsInRole("SuperAdmin"))
                {
                    <ul>
                        <li>
                            <br />
                            <button type="button" class="btn btn-success btn-block btn-xs" onclick="$('#add-child-modal').fadeIn();">
                                <span class="glyphicon glyphicon-plus"></span> Sub-category
                            </button>
                        </li>
                    </ul>
                }
            }
            else
            {
                <text>@ViewBag.CurrentCategoryName</text>

                <form style="display: inline-block" asp-action="Index" asp-route-categoryId="@ViewBag.ParentCategoryId" asp-route-backToParentCategory="true" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath">
                    <button type="submit" class="btn btn-xs btn-primary" onclick="$('#loading-modal').fadeIn()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
                    </button>
                </form>

                if (this.User.IsInRole("Admin") || this.User.IsInRole("SuperAdmin"))
                {
                    <ul>
                        <li>
                            <br />
                            <button id="add-child-btn" type="button" class="btn btn-block btn-success btn-xs" onclick="$('#add-child-modal').fadeIn();">
                                <span class="glyphicon glyphicon-plus"></span> Sub-category
                            </button>
                        </li>
                        <li>
                            <button id="rename-parent" type="button" class="btn btn-block btn-warning btn-xs" onclick="$('#edit-modal').fadeIn();">
                                <span class="glyphicon glyphicon-pencil"></span> Category
                            </button>
                        </li>
                        <li>
                            <button id="remove-categort-btn" type="button" class="btn btn-block btn-danger btn-xs" onclick="$('#remove-modal').fadeIn();">
                                <span class="glyphicon glyphicon-trash"></span> Category
                            </button>
                        </li>
                        <li>
                            <a asp-controller="Attribute" asp-action="Index">
                                <button type="button" class="btn btn-block btn-warning btn-xs">
                                    <span class="glyphicon glyphicon-pencil"></span> Attributes
                                </button>
                            </a>
                        </li>
                    </ul>
                }
            }

        </h4>
    </div>
    <div class="panel-body">
        <ul>
            @foreach (Category cat in ViewBag.TopLevelCategories)
            {
                <a id="navigation-link-id" asp-action="Index" asp-route-categoryId="@cat.Id" asp-route-backToParentCategory="false" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" onclick="$('#loading-modal').fadeIn()">
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <text>@cat.Name &nbsp;</text>
                    </li>
                </a>
            }
        </ul>
    </div>
</div>

@if (ViewBag.CurrentCategoryName != null)
{
    @if(ViewBag.Attributes != null && ViewBag.Attributes.Count > 0)
    { 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Refine by</h4>
            </div>
                <ul>
                    <div class="panel-body">
                        @foreach (var attribute in ViewBag.Attributes)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <text>
                                        <li>
                                            <h4>
                                                @if (attribute != null)
                                                {
                                                    if (attribute.IconUrl != null)
                                                    {
                                                        <img src="~/images/attribute-icons/@attribute.IconUrl" width="20" height="20" /><text> </text>
                                                    }
                                                    else
                                                    {
                                                        <img src="~/images/category-icon.png" width="20" height="20" /><text> </text>
                                                    }
                                                    @attribute.Name
                                                    if (User.IsInRole("Admin") || this.User.IsInRole("SuperAdmin"))
                                                    {
                                                        <form id="attr-img-form" asp-controller="Attribute" asp-action="AddIcon" method="post" enctype="multipart/form-data">
                                                            <input name="attributeId" value="@attribute.Id" hidden />
                                                            <label for="file-upload">
                                                                <label for="file-upload" class="custom-file-upload">
                                                                    <i class="fa fa-cloud-upload"></i> Image upload
                                                                </label>
                                                                <div class="labeled-input">
                                                                    <input id="file-upload" type="file" name="file" onchange="$('#attr-img-form').submit();" />
                                                                </div>
                                                            </label>
                                                        </form>
                                                    }
                                                }
                                            </h4>

                                        </li>
                                    </text>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        @foreach (var attrVal in ViewBag.AttributeValues)
                                        {
                                            if (attrVal != null && attribute != null)
                                            {
                                                if (attrVal.AttributeId == attribute.Id)
                                                {

                                                <text>
                                                    <li>
                                                        <a asp-action="FilterByAttributes"
                                                           asp-route-attributeName="@attrVal.Name"
                                                           asp-route-categoryId="@ViewBag.CurrentCategoryId"
                                                           asp-route-parentCategoryId="@ViewBag.ParentCategoryId"
                                                           asp-route-topLevelCategories="@ViewBag.TopLevelCategories"
                                                           asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath"
                                                           asp-route-pageNumber="@ViewBag.PageNumber"
                                                           asp-route-pageCount="@ViewBag.PageCount">

                                                            <span class="glyphicon glyphicon-chevron-right"></span>

                                                            @if (attrVal.Name == ViewBag.SelectedAttributeValueName)
                                                            {
                                                                <font color="blue">@attrVal.Name</font>
                                                            }
                                                            else
                                                            {
                                                                @attrVal.Name
                                                            }
                                                        </a>
                                                    </li>
                                                </text>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </ul>
        </div>
    }
}

