@model IEnumerable<EShop.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<!-- Pop-up modal on "Add" button click  -->
<div id="add-modal-id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/success.png" width="30" height="30" /> &nbsp; Success!

                <button id="modal-exit-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A new item has been added to your Shopping Cart.</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="ShoppingCart" asp-action="Index">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> View Shopping Cart
                    </button>
                </form>
                <br />
                <button id="modal-continue-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
            </div>
        </div>
    </div>
</div>

<!-- Loading modal -->
<div id="loading-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <p align="center"><img src="~/images/loading.gif" width="50" height="50" /></p>
    </div>
</div>

<!-- Side-navigation panel-->
<div class="sidenav">
    <h3>Navigation</h3>
    <h3 id="result"></h3>

    @if (@ViewBag.CurrentCategoryName == null)
    {
        <h5><a asp-action="Index" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" onclick="$('#loading-modal').fadeIn()">All</a></h5>
    }
    else
    {
        string[] pathSegments = ViewBag.AbsoluteNavigationPath.Split("/");
        pathSegments = pathSegments.Skip(1).ToArray(); // skippinam pirma tarpa
        pathSegments = pathSegments.Take(pathSegments.Count() - 1).ToArray(); // skippinam paskutini tarpa
        <h5>
            <a asp-action="Index" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" onclick="$('#loading-modal').fadeIn()">All</a>
            @foreach (var pathSegment in pathSegments)
            {
                <a asp-action="Index" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" asp-route-navigateToCategoryNamed="@pathSegment" onclick="$('#loading-modal').fadeIn()">/ @pathSegment</a>
            }
            <a asp-action="Index" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" asp-route-navigateToCategoryNamed="@ViewBag.CurrentCategoryName" onclick="$('#loading-modal').fadeIn()">/ @ViewBag.CurrentCategoryName</a>
        </h5>
    }
    <form asp-action="Index" asp-route-categoryId="@ViewBag.ParentCategoryId" asp-route-backToParentCategory="true" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath">
        <button type="submit" class="btn btn-primary" onclick="$('#loading-modal').fadeIn()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
        </button>
    </form>
    @if (@ViewBag.CurrentCategoryName == null)
    {
        <h3>All</h3>
    }
    else
    {
        <h3>@ViewBag.CurrentCategoryName</h3>

    }
    <ul>
        @foreach (Category category in ViewBag.TopLevelCategories)
        {
            <li>
                <a id="navigation-link-id" asp-action="Index" asp-route-categoryId="@category.Id" asp-route-backToParentCategory="false" asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath" onclick="$('#loading-modal').fadeIn()">@category.Name</a>
            </li>
        }
    </ul>
</div>

<div class="main">
    <br />
    @if (@ViewBag.CurrentCategoryName == null)
    {
        <h4>All</h4>
    }
    else
    {
        <h4>@ViewBag.CurrentCategoryName</h4>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Image <!-- Placeholder -->
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index, ImageLink = ViewBag.AllPrimaryImageLinks[index] }))
            {
                <tr>
                    <td>
                        <!-- Placeholder -->
                        <a asp-action="ProductPage" asp-route-id="@item.Value.Id">
                            <img src="~/images/products/@item.ImageLink" height="150" width="110">
                        </a>
                    </td>
                    <td>
                        <a asp-action="ProductPage" asp-route-id="@item.Value.Id">
                            <strong>@Html.DisplayFor(modelItem => item.Value.Name)</strong>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value.Description) <br />
                    </td>
                    <td>
                        €@Html.DisplayFor(modelItem => item.Value.Price)
                    </td>
                    <td>
                        @if (!this.User.IsInRole("Admin"))
                        {
                            <div>
                                <form id="add-btn-form-@item.Index">
                                    Quantity &nbsp<input id="quantity-id-@item.Index" type="number" size="2" min="1" value="1" required="required" />
                                    <input id="hidden-id-@item.Index" type="hidden" size="2" value="@item.Value.Id" required="required" />
                                    <button id="add-btn-@item.Index" type="submit" class="btn btn-info">
                                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add
                                    </button>
                                </form>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="text-center">
        <ul class="pagination">

            <!-- Previous btn -->
            @if (ViewBag.PreviousPageNumber != null)
            {
                <li class="page-item">
                    <a asp-controller="Home" asp-action="LoadPage" asp-route-categoryId="@ViewBag.CurrentCategoryId"
                       asp-route-parentCategoryId="@ViewBag.ParentCategoryId"
                       asp-route-topLevelCategories="@ViewBag.TopLevelCategories"
                       asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath"
                       asp-route-pageNumber="@ViewBag.PreviousPageNumber"
                       asp-route-pageCount="@ViewBag.PageCount"
                       class="page-link" aria-label="Previous"
                       onclick="$('#loading-modal').fadeIn()">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a href="#" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            <!-- Page buttons -->
            @for (int i = 0; i < ViewBag.PageCount; i++)
            {
                if (i == ViewBag.CurrentPageNumber)
                {
                    <text>
                    <li class="page-item active">
                        <a class="page-link" href="#">@i <span class="sr-only">(current)</span></a>
                    </li>
                    </text>
                }
                else
                {
                    <li class="page-item">
                        <a asp-controller="Home" asp-action="LoadPage" asp-route-categoryId="@ViewBag.CurrentCategoryId"
                           asp-route-parentCategoryId="@ViewBag.ParentCategoryId"
                           asp-route-topLevelCategories="@ViewBag.TopLevelCategories"
                           asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath"
                           asp-route-pageNumber="@i"
                           asp-route-pageCount="@ViewBag.PageCount"
                           class="page-link"
                           onclick="$('#loading-modal').fadeIn()">@i</a>
                    </li>
                }
            }
            <!-- Next btn -->
            @if (ViewBag.NextPageNumber != null)
            {
                <li class="page-item">
                    <a asp-controller="Home" asp-action="LoadPage" asp-route-categoryId="@ViewBag.CurrentCategoryId"
                       asp-route-parentCategoryId="@ViewBag.ParentCategoryId"
                       asp-route-topLevelCategories="@ViewBag.TopLevelCategories"
                       asp-route-absoluteNavigationPath="@ViewBag.AbsoluteNavigationPath"
                       asp-route-pageNumber="@ViewBag.NextPageNumber"
                       asp-route-pageCount="@ViewBag.PageCount"
                       class="page-link" aria-label="Next"
                       onclick="$('#loading-modal').fadeIn()">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            }
            else
            {
                <text>
                <li class="page-item disabled">
                    <a href="#" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                </text>
            }
        </ul>
    </div>
</div>
<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#modal-exit-btn, #modal-continue-btn').click(function () {
            $('#add-modal-id').fadeOut();
        });

        @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
        {
            <text>
                $("#add-btn-@item.Index").click(function (e) {

                    e.preventDefault();// prevents page refreshing

                    // Arguments we pass to controller's action method
                    var ProductToCartPostModel = { // must match ~/Models/PostModels/ProductToCartPostModel.cs
                        ProductId: $('#hidden-id-@item.Index').val(),
                        Quantity: $('#quantity-id-@item.Index').val()
                    }

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AddProductToShoppingCart", "ShoppingCart")',
                        data: JSON.stringify(ProductToCartPostModel),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (response) {
                            if (response == 0) {
                                $('#add-modal-id').fadeIn();
                            }
                            else if (response == 1) {
                                //TODO: handle failure sent from controller (modify modal box)
                            }
                        },
                        failure: function (response) {
                            //TODO: handle AJAX request failure
                        }
                    });
                });
            </text>
        }
    });
</script>

<!-- check if session has saved products -->
@{
    var products = await HttpContextAccessor.HttpContext.Session.GetProductsAsync(context);
}

<div id="save-session-products-modal-id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/success.png" width="30" height="30" /> &nbsp; Your previous products remain in session.

                <button id="save-session-products-modal-exit-btn" type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DiscardProducts()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you wish to transfer the following products to your account's cart?</p>
                <ul>
                    @foreach (var product in products)
                    {
                        <li>Product: @product.Product.Name, Amount: @product.Count</li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button id="save-session-products-modal-discard-btn" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="DiscardProducts()">Discard</button>
                &nbsp;
                <button id="save-session-products-modal-add-btn" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="AddProducts()">Add</button>
            </div>
        </div>
    </div>
</div>

@using Microsoft.AspNetCore.Http
@using EShop.Util
@using EShop.Data;
@inject IHttpContextAccessor HttpContextAccessor
@inject ApplicationDbContext context

@if (this.User.IsInRole("Customer") && products.Count > 0)
{
    <script type="text/javascript">
        $('#save-session-products-modal-id').fadeIn();

        function AddProducts() {
            $('#save-session-products-modal-id').fadeOut();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddSessionProductsToCartAsync", "ShoppingCart")'
            });
        }
        function DiscardProducts() {
            $('#save-session-products-modal-id').fadeOut();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DiscardSessionProducts", "ShoppingCart")'
            });
        }
    </script>
}