@model IEnumerable<EShop.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<!-- Side-navigation panel-->
<div class="sidenav">
    @Html.Partial("_SideNav")
</div>

<div class="main">
    <br />
    @{ 
        ICollection<ProductAd> productAds = ViewBag.ProductAds;
    }
    @Html.Partial("_MainCarousel", productAds)

    @if (@ViewBag.CurrentCategoryName == null)
    {
        <h4>All</h4>
    }
    else
    {
        <h4>@ViewBag.CurrentCategoryName</h4>
    }
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-controller="Product" asp-action="Create">Create New</a>
    }

    <table class="table">
        <tbody>
            @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index, ImageLink = ViewBag.AllPrimaryImageLinks[index] }))
            {
                <tr>
                    <td>
                        <a asp-action="ProductPage" asp-route-id="@item.Value.Id">
                            <img src="~/images/products/@item.ImageLink" height="150" width="110">
                        </a>
                    </td>
                    <td>
                        <a asp-action="ProductPage" asp-route-id="@item.Value.Id">
                            <strong>@Html.DisplayFor(modelItem => item.Value.Name)</strong>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value.Description) <br />
                    </td>
                    <td>
                        €@Html.DisplayFor(modelItem => item.Value.Price)
                    </td>
                    <td>
                        @if (!this.User.IsInRole("Admin"))
                        {
                            <div>
                                <form id="add-btn-form-@item.Index">
                                    Quantity &nbsp<input id="quantity-id-@item.Index" type="number" size="2" min="1" value="1" required="required" />
                                    <input id="hidden-id-@item.Index" type="hidden" size="2" value="@item.Value.Id" required="required" />
                                    <button id="add-btn-@item.Index" type="submit" class="btn btn-info">
                                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add
                                    </button>
                                </form>
                            </div>
                        }
                    </td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <td>
                            <ul>
                                <li><a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Value.Id">Edit</a></li>
                                <li><a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Value.Id">Delete</a></li>
                            </ul>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <!-- Pagination -->
    @Html.Partial("_Pagination")
</div>

<!-- Private modals-->
@Html.Partial("Modals/_AddChildCategoryModal")
@Html.Partial("Modals/_RemoveCategoryModal")
@Html.Partial("Modals/_EditCategoryModal")
@Html.Partial("Modals/_ShoppingCartSessionModal")

<!-- Shared modals -->
@Html.Partial("Modals/_ShoppingCartAddModal")
@Html.Partial("Modals/_LoadingModal")
