@model IEnumerable<EShop.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h2>Login credentials</h2>
<hr />

<h4>Test admin</h4>
<ul>
    <li>email: admin@admin.com</li>
    <li>pass: admin</li>
</ul>

<h4>Test customer (alternative - register new one)</h4>
<ul>
    <li>email: customer@customer.com</li>
    <li>pass: customer</li>
</ul>
