@model IEnumerable<EShop.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (this.User.IsInRole("Customer"))
                {
                    <div>
                        <form asp-controller="ShoppingCart" asp-action="AddProductToShoppingCart" asp-route-productId="@item.Id">
                            Quantity &nbsp<input type="number" id="Quantity" name="Quantity" size="2" min="1" value="1" required="required" />
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add
                            </button>
                        </form>
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<hr />
<h2>Login credentials</h2>
<hr />

<h4>Test admin</h4>
<ul>
    <li>email: admin@admin.com</li>
    <li>pass: admin</li>
</ul>

<h4>Test shopping-carts</h4>
<ul>
    <li>email: customer@customer.com</li>
    <li>pass: customer</li>
</ul>
<ul>
    <li>email: customer2@customer2.com</li>
    <li>pass: customer2</li>
</ul>
<ul>
    <li>email: customer3@customer3.com</li>
    <li>pass: customer3</li>
</ul>
