@model IEnumerable<EShop.Models.ProductDetails>

@{
    ViewData["Title"] = "ProductPage";
    int totalImages = ViewBag.SecondaryImages.Count + 1;
}

<head>
    <script type="text/javascript" src="~/js/image_preview.js"></script>
    <link rel="stylesheet" href="~/css/image_modal.css" type="text/css" media="screen" /> <!--Css file for image modal-->
</head>

<!-- Pop-up modal on "Add" button click -->
<div id="add-modal-id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/success.png" width="30" height="30" /> &nbsp; Success!

                <button id="modal-exit-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A new item has been added to your Shopping Cart.</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="ShoppingCart" asp-action="Index">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> View Shopping Cart
                    </button>
                </form>
                <br />
                <button id="modal-continue-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
            </div>
        </div>
    </div>
</div>

<!--Overall page view-->
<div class="sidenav">
    <h3>Perfect<br /> place for your<br/> advertisements!</h3>
</div>

<div class="main">
    <div class="img_row">
        <h2><strong>@ViewBag.Product.Name</strong></h2>
        <div class="img_column">
            <img id="productImage" src="~/images/products/@ViewData["primary_image"]" height="180" width="150" onclick="openModal();currentSlide(1)" class="img_hover-shadow img_cursor" alt="Primary Image" style="float: left; margin-right: 10px; margin-top: 20px;">
        </div>
        <div id="sidebar">
            <h3 style="margin-top: 70px; margin-left: 200px;">Current price is: €@ViewBag.Product.Price</h3>
            @if (!this.User.IsInRole("Admin"))
            {
                <div>
                    <form id="add-btn-form" style="margin-left: 200px;">
                        Quantity &nbsp<input id="quantity-id" type="number" size="2" min="1" value="1" required="required" />
                        <input id="hidden-id" type="hidden" size="2" value="@ViewBag.Product.Id" required="required" />
                        <button id="add-btn" type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>



    @{ int counter = 1; /*Counter for photos*/
        <!--Small photo previews-->
        <div class="img_row">
            @foreach (var image in ViewBag.SecondaryImages)
            {
                <!--Image here-->
                <div class="img_column">
                    @{ counter += 1; }
                    <img src="~/images/products/@image.ImageUrl" alt="Secondary Image" style="width:100%;" onclick="openModal();currentSlide(@counter)" class="img_hover-shadow img_cursor" />
                </div>
            }
        </div>
    }


    <!-- The Modal/Lightbox -->
    <div id="imageModal" class="img_modal">
        <span class="img_close img_cursor" onclick="closeModal()">&times;</span>
        <div class="img_modal-content">
            <div class="imgSlides">
                <div class="img_numbertext">1 / @totalImages</div>
                <img src="~/images/products/@ViewData["primary_image"]" style="width:100%" />
            </div>
            @{ int counter2 = 1;
                foreach (var image in ViewBag.SecondaryImages)
                {
                    counter2 += 1;
                    <!--Image here-->
                    <div class="imgSlides">
                        <div class="img_numbertext">@counter2 / @totalImages</div>
                        <img src="~/images/products/@image.ImageUrl" style="width:100%" />
                    </div>
                }
            }
            <!-- Next/previous controls -->
            <a class="img_prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="img_next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Caption text -->
            <div class="img_caption-container">
                <p id="img_caption"></p>
            </div>

            <!-- Thumbnail image controls -->
            <div class="img_column">
                <img class="img_demo img_cursor" style="width:100%" src="~/images/products/@ViewData["primary_image"]" onclick="currentSlide(1)" alt="@ViewBag.Product.Name" />
            </div>
            @{
                int counter3 = 1;
                foreach (var image in ViewBag.SecondaryImages)
                {
                    counter3 += 1;
                    <!--Image here-->
                    <div class="img_column">
                        <img class="img_demo img_cursor" style="width:100%" src="~/images/products/@image.ImageUrl" onclick="currentSlide(@counter3)" alt="@ViewBag.Product.Name @counter3" />
                    </div>
                }
            }
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Property)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(m => m.ProductId == ViewBag.Product.Id)) //Convert.ToInt32(ViewData["product_id"])))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="alert alert-success" role="alert">
    </div>
</div>



<!-- Scripts for shopping cart modal -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
        $(document).ready(function () {

            $('#modal-exit-btn, #modal-continue-btn').click(function () {
                $('#add-modal-id').fadeOut();
            });
            //Below is code that responds for "add to cart" button operation
            /**/
            /**/
@{
<text>
        /**/
        /**/
        $('#add-btn').click(function (e) {

            e.preventDefault();// prevents page refreshing

            // Arguments we pass to controller's action method
            var ProductToCartPostModel = { // must match ~/Models/PostModels/ProductToCartPostModel.cs
                ProductId: $('#hidden-id').val(),
                Quantity: $('#quantity-id').val()
            }

            $.ajax({
                type: 'POST',
                /**/
                /**/
                url: '@Url.Action("AddProductToShoppingCart", "ShoppingCart")',
        /**/
        /**/
        data: JSON.stringify(ProductToCartPostModel),
        dataType: 'json',
        contentType: "application/json",
        success: function (response) {
            if (response == 0) {
                $('#add-modal-id').fadeIn();
            }
            else if (response == 1) {
                //TODO: handle failure sent from controller (modify modal box)
            }
        },
        failure: function (response) {
            //TODO: handle AJAX request failure
        }
    });
});
/**/
/**/
</text>
}
        /**/
        /**/
    });
</script>