@model EShop.Models.OrderHistoryModel
@{
    ViewData["Title"] = "Order";
}

@section sidenav{}

<div style="margin-left:auto">
    <h2>Orders Awaiting Confirmation</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>User</p>
                </th>
                <th>
                    <p>Order Id</p>
                </th>
                <th>
                    <p>Shopping Cart Id</p>
                </th>
                <th>
                    <p>Total Price</p>
                </th>
                <th>
                    <p>Purchase Time</p>
                </th>
                <th>
                    <p>Confirm Order</p>
                </th>
                <th>
                    <p>Reject Order</p>
                </th>
                <th>
                    <p>Review</p>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Orders.Select((value, index) => new { Value = value, Index = index }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value.ShoppingCartId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value.PurchaseDate)
                    </td>
                    <td>
                        @switch (item.Value.StatusCode)
                        {
                            case 1:
                                var rowVersion = "";
                                if (item.Value.RowVersion != null)
                                {
                                    rowVersion = Convert.ToBase64String(item.Value.RowVersion);
                                }
                                <form asp-controller="Order" asp-action="ConfirmOrder" asp-route-orderId="@item.Value.Id" asp-route-rowVersion="@rowVersion">
                                    <button id="checkout-btn" type="submit" class="btn btn-success">
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    </button>
                                </form>
                                break;
                            case 2:
                                <p>Order Confirmed</p>
                                break;
                            case 3:
                                <p>Order Rejected</p>
                                break;
                            case 4:
                                <p>Order Confirmed</p>
                                break;
                        }
                    </td>
                    <td>
                        @switch (item.Value.StatusCode)
                        {
                            case 1:
                                var rowVersion = "";
                                if (item.Value.RowVersion != null)
                                {
                                    rowVersion = Convert.ToBase64String(item.Value.RowVersion);
                                }
                                <form asp-controller="Order" asp-action="RejectOrder" asp-route-orderId="@item.Value.Id" asp-route-rowVersion="@rowVersion">
                                    <button id="checkout-btn" type="submit" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                    </button>
                                </form>
                                break;
                            case 2:
                                <p>Order Confirmed</p>
                                break;
                            case 3:
                                <p>Order Rejected</p>
                                break;
                            case 4:
                                <p>Order Confirmed</p>
                                break;
                        }
                    </td>
                    <td>
                        @if (item.Value.StatusCode == 4)
                        {
                            <p>@Model.Reviews.Find(orm => orm.OrderId == item.Value.Id).CustomerComment</p>
                        }
                        else
                        {
                            <p>Review Unavailable</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("_AdminViewPagination")
</div>