@using EShop.Models.ViewModels
@model EShop.Models.ViewModels.OrderHistoryModel

@{
    ViewData["Title"] = "Order";
}

@Html.Partial("Modals/_ShoppingCartLimitModal")

<div id="review-modal-id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    Leave a comment!
                    <button id="comment-exit-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form asp-controller="Order" asp-action="LeaveReview" method="post">
                    <div class="form-group Rating">
                        <select id="rating-id">
                            @for (short i = 1; i < 6; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span id="star-1" class="fa fa-star checked"></span>
                        <span id="star-2" class="fa fa-star"></span>
                        <span id="star-3" class="fa fa-star"></span>
                        <span id="star-4" class="fa fa-star"></span>
                        <span id="star-5" class="fa fa-star"></span>
                    </div>
                    <div class="form-group ExtraComments">
                        <textarea id="comment-id" type="text" required="required" style="resize: none;" rows="3"></textarea>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-success" id="confirm-review-btn">Leave Comment</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="repurchase-modal-id" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="exit-repurchase-btn" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Addition</h4>
            </div>
            <div class="modal-body">
                <p>Your shopping cart will be used to repurchase items from this order</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="Order" asp-action="Repurchase" method="post" class="form-inline" role="form">
                    <button id="confirm-repurchase-btn" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up" style="margin-top: -5px; vertical-align: middle;"></span> Confirm</button>
                    <button id="close-repurchase-btn" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="warning-modal-id" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="exit-repurchase-btn" type="button" class="close" data-dismiss="modal" onclick="$('#warning-modal-id').fadeOut();">&times;</button>
                <h4 class="modal-title"><img src="~/images/critical-alert.png" height="25" width="25"/> Warning!</h4>
            </div>
            <div class="modal-body">
                <p>Some products were deleted or updated by the shop-owners! Please take a careful look!</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="ShoppingCart" asp-action="Index">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Go to Shopping Cart
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="margin-left: auto">
<h2>Order History</h2>
<table class="table">
<thead>
<tr>
    <th>
        <p>Shopping cart</p>
    </th>
    <th>
        <p>Status</p>
    </th>
    <th>
        <p>Total Price</p>
    </th>
    <th>
        <p>Delivery Address</p>
    </th>
    <th>
        <p>Card Number</p>
    </th>
    <th>
        <p>Purchase Time</p>
    </th>
    <th>
        <p>Confirmed Time</p>
    </th>
    <th>
        <p>Repurchase</p>
    </th>
    <th>
        <p>Review</p>
    </th>
</tr>
</thead>
<tbody>

@foreach (var item in Model.Orders.Select((value, index) => new {Value = value, Index = index}))
{
    <tr>
        <td>
            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Shopping cart</strong>
            </div>

            <a asp-action="PreviewShoppingCartHistory" asp-route-shoppingCartId="@item.Value.ShoppingCartId">
                <button type="button" id="repurchase-btn" class="btn btn-info">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    Preview
                </button>
            </a>
        </td>
        <td>
            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Status</strong>
            </div>

            @if (item.Value.StatusCode == 1)
            {
                <p>
                    <font style="color: orange;">Pending</font>
                </p>
            }
            else if (item.Value.StatusCode == 2)
            {
                <p>
                    <font style="color: blue;">Confirmed</font>
                </p>
            }
            else if (item.Value.StatusCode == 3)
            {
                <p>
                    <font style="color: red;">Rejected</font>
                </p>
            }
            else if (item.Value.StatusCode == 4)
            {
                <p>
                    <font style="color: green;">Complete</font>
                </p>
            }
        </td>
        <td>
            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Total price</strong>
            </div>

            €@Html.DisplayFor(modelItem => item.Value.TotalPrice)
        </td>
        <td>
            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Address</strong>
            </div>

            @Html.DisplayFor(modelItem => item.Value.Address)
        </td>
        <td>
            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Card number</strong>
            </div>

            @Html.DisplayFor(modelItem => item.Value.CardNumber)
        </td>
        <td>
            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Purchase date</strong>
            </div>

            @Html.DisplayFor(modelItem => item.Value.PurchaseDate)
        </td>
        <td>

            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Confirmed time</strong>
            </div>

            @if (item.Value.StatusCode == 1)
            {
                <p>Confirmation Pending</p>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Value.ConfirmationDate)
            }
        </td>
        <td>
            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Repurchase</strong>
            </div>
            @if (item.Value.StatusCode != 3 && item.Value.StatusCode != 1)
            {
                <button type="button" id="repurchase-btn" class="btn btn-info" onclick="repurchaseOpen(@item.Value.Id)">
                    <span class="glyphicon glyphicon-shopping-cart aria-hidden="true"></span>
                    Repurchase
                </button>
            }
            else
            {
                <button disabled type="button" id="repurchase-btn" class="btn btn-info">
                    <span class="glyphicon glyphicon-shopping-cart aria-hidden="true"></span>
                    Repurchase
                </button>
            }
        </td>
        <td>
            <div class="mobile-friendly-tag" style="display: none;">
                <strong>Review</strong>
            </div>

            @if (item.Value.StatusCode == 2)
            {
                <button type="button" id="review-btn" class="btn btn-info" onclick="reviewOpen(@item.Value.Id)">Review</button>
            }
            else if (item.Value.StatusCode == 4)
            {
                <div style="white-space: nowrap;">
                    <span id="star-1-@item.Index" class="fa fa-star"></span>
                    <span id="star-2-@item.Index" class="fa fa-star"></span>
                    <span id="star-3-@item.Index" class="fa fa-star"></span>
                    <span id="star-4-@item.Index" class="fa fa-star"></span>
                    <span id="star-5-@item.Index" class="fa fa-star"></span>
                </div>

                <p>
                    <div id="comment-@item.Index"></div>
                </p>
                /*<p>@Model.Reviews.Find(orm => orm.OrderId == item.Value.Id).CustomerComment</p>*/
            }
            else
            {
                if (item.Value.StatusCode != 3)
                 {
                     <p>Awaiting Confirmation</p>
                 }
                 else
                 {
                     <p>Not available</p>
                 }
            }
        </td>
    </tr>
}

</tbody>
</table>

@Html.Partial("_IndexPagination")
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

    var selectedId = 0;

    function repurchaseOpen(Id) {
        selectedId = Id;
        $('#repurchase-modal-id').fadeIn();
    }

    function reviewOpen(Id) {
        selectedId = Id;
        $('#review-modal-id').fadeIn();
    }

    $(document).ready(function() {

        // star-rating
        @foreach (var item in Model.Orders.Select((value, index) => new {Value = value, Index = index}))
        {
            if (item.Value.StatusCode == 4)
            {
                var comment = Model.Reviews.Find(orm => orm.OrderId == item.Value.Id).CustomerComment;
                var splitComment = comment.Split(':');
                var rating = int.Parse(splitComment[0]);

                comment = "";
                // Is naujo surenkam comentara be prefixo (ratingo). 
                // Taip elgiames, in case useris irase n ":" simboliu, o vienas is ju zymi prefixo pabaiga
                for (var i = 1; i < splitComment.Count(); i++)
                {
                    if (i != 1)
                    {
                        comment = comment + ':' + splitComment[i];
                    }
                    else
                    {
                        comment = splitComment[i];
                    }
                }

                for (var i = 1; i <= rating; i++)
                {
                    @:$('#star-' + @i + '-' + @item.Index).addClass('checked');
                }
                @:$('#comment-@item.Index').text("@comment");
            }
        }

        $('#rating-id').change(function() {
            for (var i = 1; i < 6; i++) {
                $("#star-" + i).removeClass('checked');
            }
            for (var i = 1; i <= $(this).val(); i++) {
                $("#star-" + i).addClass('checked');
            }
        });

        $('#confirm-repurchase-btn').click(function(e) {
            e.preventDefault();

            var selector = {
                SelectedValue: selectedId
            };

            // 0 - success
            // 1 - unknown exc
            // 2 - shopping-cart limit reached
            // 3 - success (bet produktai nesutampa su seniau pirktais)

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Repurchase", "Order")',
                data: JSON.stringify(selector),
                dataType: 'json',
                contentType: "application/json",
                success: function(response) {
                    $('#repurchase-modal-id').fadeOut();
                    if (response === 0) {
                    } else if (response === 2) {
                        $('#limit-modal-id').fadeIn();
                    } else if (response === 3) {
                        $('#warning-modal-id').fadeIn();

                    } else if (response === 1) {
                        //TODO: handle failure sent from controller (modify modal box)
                    }
                },
                failure: function() {
                    //TODO: handle AJAX request failure
                }
            });
        });

        $('#confirm-review-btn').click(function(e) {

            e.preventDefault();

            var rating = $('#rating-id').val();
            var comment = $('#comment-id').val();

            var reviewPostModel = {
                OrderId: selectedId,
                Rating: rating,
                Comment: comment
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("LeaveReview", "Order")',
                data: JSON.stringify(reviewPostModel),
                dataType: 'json',
                contentType: "application/json",
                success: function(response) {
                    if (response === 0) {
                        $('#review-modal-id').fadeOut();
                        location.reload();
                    } else if (response === 1) {
                        //TODO: handle failure sent from controller (modify modal box)
                    }
                },
                failure: function() {
                    //TODO: handle AJAX request failure
                }
            });
        });

        $('#modal-continue-btn, #comment-exit-btn').click(function() {
            $('#review-modal-id').fadeOut();
        });

        $('#exit-repurchase-btn, #close-repurchase-btn').click(function() {
            $('#repurchase-modal-id').fadeOut();
        });
    });
</script>