@model IEnumerable<EShop.Models.UserInRoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="sidenav"></div>
<div class="main">
    <h2>Manage users</h2>
    <h4>Your current role:</h4>
    <ul>
    @foreach(var role in ViewBag.CurrentUserRoles)
    {
        <li><font color="red">@role</font></li>
    }
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    Suspended
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.User.UserName != this.User.Identity.Name)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                    }
                    else
                    {
                        <td>
                            <font color="red">@Html.DisplayFor(modelItem => item.User.Email)</font>
                        </td>
                        <td>
                            <font color="red">@Html.DisplayFor(modelItem => item.Role)</font>
                        </td>
                    }
                    <td>
                        @if (item.User.UserName != this.User.Identity.Name)
                        {
                            @if (item.Role != "SuperAdmin")
                            {
                                @Html.DisplayFor(modelItem => item.User.IsSuspended)
                            }
                        }
                    </td>
                    <td>
                        @if (item.User.UserName != this.User.Identity.Name)
                        {
                            @if (item.Role != "SuperAdmin")
                            {
                                <a asp-action="Delete" asp-route-id="@item.User.Id">Delete</a> <text>|</text>

                                if (ViewBag.CurrentUserRoles.Contains("SuperAdmin"))
                                {
                                    if (!item.User.IsAdmin)
                                    {
                                    <a asp-action="ManageAdminPrivileges" asp-route-id="@item.User.Id" asp-route-grantPrivileges="true">Make admin</a>
                                    }
                                    else
                                    {
                                    <a asp-action="ManageAdminPrivileges" asp-route-id="@item.User.Id" asp-route-grantPrivileges="false">Remove admin</a>
                                    } <text>|</text>
                                }
                                if (!item.User.IsSuspended)
                                {
                                    <a asp-action="ManageAccountSuspension" asp-route-id="@item.User.Id" asp-route-suspendAccount="true">Suspend</a>
                                }
                                else
                                {
                                    <a asp-action="ManageAccountSuspension" asp-route-id="@item.User.Id" asp-route-suspendAccount="false">Restore</a>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("_Pagination")
</div>